.reddish{border: 1px solid red;}
.blueish { border: 1px dashed blue;}
body{
    background-color: #000235;
    color: #ffff;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}
.first-page{
    height: 100vh;
}
p{
    margin: 0;
}
#nav{
    display : grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#nav ul{
    margin: 0;
    float: right;
    display: flex;
    width: 70%;
    justify-content: space-between;
    
}

#nav li{
    list-style: none;
    margin: 0;
    font-weight: 600;

}

.right-nav{
    display: flex;
    font-weight: 700;
    align-items: center;
}
.right-nav img{
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    border: 2px solid #8D8DDA;
}
.name{
    margin-left: 15px;
    letter-spacing: 0.2px;
}
#intro-section{
    margin-top: 120px;
    display: grid;
    grid-template-columns: auto auto;
}
.intro-text{
    padding-top: 80px;
}
.intro-text h1{
    margin: 0;
    font-weight: 700;
    font-size: 64px;
}
.intro-text p{ 
    margin-top: 30px;
    font-size: 18px;
}
#intro-section .intro-image img{
    width: 624px;
    float: right;
}
#intro-section .intro-text button{
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;
    /* letter-spacing: 0.1em; */
    background-color: #8D8DDA;
    color: #ffff;
    border-radius: 83px;
    width: 253px;
    height: 75px;
    border: none;
    text-transform: uppercase;
}
#about h3{
    text-align: center;
}
#about h1{
    text-align: center;
    font-size: 64px;
}
hr{
    width: 100px;
    margin-top: -30px;
    border-color: #8D8DDA;
    border-width: 2px;
}
#about h4{
    font-size: 28px;
}
.about-me{
    display: grid;
    grid-template-columns: auto auto;
}
.personal-about p{
    width: 600px;
    line-height: 1.6;
    letter-spacing: 0.2px;

}

.space-between-p{
    margin-top: 20px
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.skill-box{
    background: #8D8DDA;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
}
.skills-about {
    padding-left: 10px;
}
.second-row{
    margin-top: 20px;
}
.non-tech{
    margin-bottom: 30px;
    margin-top: 30px;
}